@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');

.App {
	background-color: #f0f0f0;
	width: 60vw;
	min-height: 80vh;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: row;
}
@media (max-width: 576px) {
	.App {
		width: 90vw;
	}
}
@media (min-width: 576px) and (max-width: 992px) {
	.App {
		width: 75vw;
	}
}

.App h1 {
	text-align: center;
}
