@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
	text-align: center;
	background-color: #f0f0f0;
	width: 50vw;
	margin: 20vh auto;
	font-family: 'Montserrat', sans-serif;
}
